body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightblue;

    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    flex: 1;
    padding: 2em;
    text-align: center;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 220px;
    height: 220px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    transition: border-color 2s, border-top-color 2s; 
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}


.gameMessages {
    font-family: system-ui;
    font-weight: 300;
    font-size: 2em;
    display: inline-block;
}

.locationMessages {
    width: 50dvw;
    font-family: system-ui;
    font-weight: 300;
    font-size: 2em;
}

.loadingText {
    position: relative;
    height: 100%;
}
.flip-card {
    background-color: transparent;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    perspective: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-card-inner {
    position: relative;
    width: 90dvw;
    height: 90dvh;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    color: rgb(232, 230, 227);
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, #d9afd9b8 0%, #ffffffa4 50%);
    border-radius: 20px;
    box-shadow: 1px 1px 8px #0000006b;
    position: absolute;
    top: 0;
    backface-visibility: hidden;

}

.flip-card-front {
  color: black;
}

.flip-card-back {
    background-color: white;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.flip-card.active .newSusu svg {
    
    animation: rotate 1s linear;
    animation-iteration-count: 4;
    transform-origin: center;
    animation-delay: 0.5s;
    opacity: 0;
}


.flip-card.active .drop-susu .newSusu svg {
    opacity: 1;
}

.flip-card.active .carry-susu .newSusu svg {
    opacity: 1;
}

.flip-card.active .newSusu {
    animation: scale 4s linear forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    transform-origin: center;
}
.newSusu {
    transform: scale(0.00);

}

@keyframes moveUp {
    0% {
        top: 30dvh;
    }
    100% {
        top: 0;
        height: 20dvh;
    }
}

@keyframes moveUpText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-300px);
    }
}

@keyframes scaledown {
    0% {
        width: 150px;
        height: 150px
    }

    100% {
        width: 75px;
        height: 75px;
    }
}

@keyframes scaledownText {
    0% {
        font-size: 2em;
    }

    100% {
       font-size: 1.2em;
    }
}

.flip-card.active .newSusu.move-up svg{
    animation: scaledown 2s forwards;
}

.flip-card.active .gameMessages.move-up {
    animation: scaledownText 2s forwards;
}   

.svgTextWrapper {
    height: 30dvh;
    top: calc(45dvh - 15dvh);
    position: relative;
}

.flip-card.active .svgTextWrapper {
animation: moveUp 2s forwards;
animation-delay: 4.5s;
}

.aim-button,.drop-button {
    position: absolute;
  
    left: calc(50% - 3.5em);
    width: 7em;
    z-index: 1000;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    bottom: -2dvh;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.drop-susu .aim-button {
    opacity: 1;
    bottom: 2dvh;
}

.carry-susu .drop-button {
    opacity: 1;
    bottom: 2dvh;
}

.leaflet-cache-pane div{
    position: absolute;
}